.container {
   width: 100%;
   max-width: 1000px;
   margin: 0 auto;
   height: 100%;
   padding: 0 15px;
}

.header {
   flex: 0 0 auto;
   background-color: #212429;
   margin-top: 75px;
}

.header h1 {
   text-align: center;
   color: #fff;
   font-size: 30px;
   font-weight: bold;
}

.main {
   background-color: #fafafa;
   flex: 1 0 auto;
}

.footer {
   background-color: #212429;
   flex: 0 0 auto;
}

.content {
   padding: 50px 0;
}

p {
   margin-bottom: 40px;
}

img {
   max-width: 100%;
   height: auto;
   margin-bottom: 40px;
}

.footer .content {
   color: #fff;
}
